#introduction{
  background-color:#696969 !important;
}

#contact{
  background-color:#696969 !important;
  color: white;
}

#email{
  color: white !important;
}

#projects{
  margin-bottom: 10em;
  margin-left: 2;
  margin-right: 2;
}

#portfolio{
  background-color: white !important;
  padding-top: 0px;
}

.profile {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-bottom: 80px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex.row {
  flex-direction: row;
}

.flex.wrap {
  flex-wrap: wrap;
}


section:nth-of-type(2) .bar {
  color: #666;
  height: 22px;
  position: relative;
  background-color: #eee;
  margin: 0 0 12px 0;
  align-items: flex-end;
  font-size: 7pt;
}

section:nth-of-type(2) .bar span {
  display: none;
}

section:nth-of-type(2) .bar.fill {
  top: 0;
  left: 0;
  position: absolute;
  background-color: #f05f40;
  padding: 0;
  opacity: 1;
}

section:nth-of-type(2) .bar .tag {
  top: 0;
  left: 0;
  position: absolute;
  background-color: #e17158;
  color: #fff;
  height: 100%;
  width: 110px;
  width: 70px;
} 

section .flex-50-gt-sm {
  display: block;
}

section:nth-of-type(2) .bar {
  height: 28px;
  margin: 0 0 15px 0;
  font-size: 11pt;
}

section:nth-of-type(2) .bar span {
  display: initial;
}

section:nth-of-type(2) .bar .tag {
  width: 110px;
}